.menu-mains {
  &__container {
    padding: 82px 0 130px 0;
  }

  &__title,
  &__text {
    text-align: center;
  }

  &__title {
    margin-bottom: 18px;
  }

  &__text {
    margin-bottom: 129px;
  }

  &__list-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 58px;
    width: 710px;
  }
}
