.locked {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hover-underline {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

.section-h2,
.section-h3 {
  color: #000;
  font-family: $fontTitle;
}

.section-h2 {
  @include font-style(108px, 700, 1.11);
}

.section-h3 {
  @include font-style(68px, 700, 1.24);
}

@if ($responsiveType==1) {
  // responsive
  [class*='__container'] {
    @if ($maxWidthContainer>0) {
      max-width: $maxWidthContainer + px;
      box-sizing: content-box;
      margin: 0 auto;
    }
    @if ($containerPadding>0) {
      padding: math.div($containerPadding, 2) + px;
    }
  }
} @else {
  // by break points
  [class*='__container'] {
    margin: 0 auto;
    @if ($maxWidthContainer>0) {
      max-width: $maxWidthContainer + px;
      box-sizing: content-box;
    }
    @if ($containerPadding>0) {
      padding: 0 math.div($containerPadding, 2) + px;
    }
  }
}
