<li class="posts__item">
  <div class="posts__image-wrapper" data-tag="Fashion">
    <img class="posts__image" src="@@image" alt="food" />
  </div>

  <div class="posts-details">
    <ul class="posts-details__list">
      <li class="posts-details__item">
        <img src="@@avatar" alt="Girl" />
        @@author
      </li>
      <li class="posts-details__item">@@date</li>
      <li class="posts-details__item">@@time</li>
      <li class="posts-details__item">@@comments</li>
    </ul>

    <h4 class="posts-details__title section-h4">@@title</h4>
    <p class="posts-details__text">@@text</p>

    <button class="posts-details__button" type="button">
      Read More
      <svg width="48" height="28">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
  </div>
</li>
