.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  flex-shrink: 0;
  background-color: transparent;
  z-index: 2;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 208px;
  }

  &__block {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 45px;
  }

  &__nav-open {
    background-color: transparent;
  }

  &__number {
    margin-right: 26px;
    color: #fff;
    font-size: 26px;
    line-height: 1.21;
    font-family: 'Inter', sans-serif;

    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 0%;
      height: 1px;
      background-color: #fff;
      transition: width 250ms $transitionBase;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__button {
    padding: 20px 46px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Rufina', serif;
    background-color: transparent;
    outline: 2px solid #fff;
    transition: background-color 300ms $transitionBase;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
