.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 186px 0 300px;
  width: 100vw;
  height: 100dvh;
  color: #fff;
  background-image: linear-gradient(
      0deg,
      rgba(35, 48, 0, 0.8),
      rgba(35, 48, 0, 0.8)
    ),
    url('./../images/nav/image.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;

  &--open {
    display: flex;
  }

  &__close {
    position: absolute;
    top: 34px;
    left: 46px;
    background-color: transparent;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

// navigation
.menu-nav {
  font-family: 'Rufina', serif;
  text-transform: uppercase;

  &__item {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 14px;
      width: 12px;
      height: 12px;
      background-color: #fff;
      border-radius: 50%;
    }

    &:not(:last-child) {
      margin-bottom: 28px;
    }

    &--current {
      color: #9caa00;

      &::before {
        background-color: #9caa00;
      }
    }
  }

  &__link {
    font-size: 66px;
    font-weight: 700;
    line-height: 1.24;
  }
}

// contact
.menu-contact {
  margin-top: auto;

  &__block {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  &__title {
    width: 297px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: 'Rufina', serif;
    border-bottom: 4px solid #fff;
    border-style: dotted;
  }
}
