<div class="menu">
  <button class="menu__close" type="button">
    <svg width="84" height="63">
      <use href="./images/icons.svg#icon-nav-close"></use>
    </svg>
  </button>

  <div class="menu__content">
    <nav>
      <ul class="menu-nav">
        <li
          class="menu-nav__item @@if (context.page === 'home') {menu-nav__item--current}"
        >
          <a href="./index.html" class="menu-nav__link">Home</a>
        </li>
        <li
          class="menu-nav__item @@if (context.page === 'menu') {menu-nav__item--current}"
        >
          <a href="./menu.html" class="menu-nav__link">Menu</a>
        </li>
        <li
          class="menu-nav__item @@if (context.page === 'blogs') {menu-nav__item--current}"
        >
          <a href="./blogs.html" class="menu-nav__link">Blogs</a>
        </li>
        <li
          class="menu-nav__item @@if (context.page === 'about') {menu-nav__item--current}"
        >
          <a href="./about.html" class="menu-nav__link">About</a>
        </li>
        <li
          class="menu-nav__item @@if (context.page === 'contact') {menu-nav__item--current}"
        >
          <a href="#" class="menu-nav__link">Contact</a>
        </li>
      </ul>
    </nav>

    <div class="menu-contact">
      <h2 class="menu-contact__title menu-contact__block">Contact</h2>

      <address>
        <div class="menu-contact__block">
          @@include('./../components/_address.html')
        </div>

        @@include('./../components/_socials.html')
      </address>
    </div>
  </div>
</div>
